.iconbiaoge{
    position:relative;
    &:hover{
        .table{
            display: block;
        }
    }
    .table{
        display: none;
        overflow: hidden;
        position: absolute;
        left: 1px;
        width: 132px;
        background-color: #fff;
        padding: 5px;
        .td{
            list-style: none;
            width: 18px;
            height: 18px;
            border-radius: 3px;
            background-color: #cecdcd;
            float:left;
            margin: 2px;
            &.hover{
                background-color:#999;
            }
        }
    }
}