.react-markdown-editor-container {
  .main-container {
    .edit-container {
      .edit-textarea {
        width: 100%;
        height: 100%;
        border: none;
        overflow-x: hidden;
        overflow-y: scroll;
        resize: none;
        outline: none;
        padding: 15px 8px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: monospace;
        line-height: 21px;
      }
    }
  }
}
