@font-face {
  font-family: "iconfont"; /* project id 1370495 */
  src: url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.eot");
  src: url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.woff") format("woff"),
    url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1370495_g9pg97op8l9.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbiaotizhengwenqiehuan:before {
  content: "\e6e2";
}

.iconchaolianjie:before {
  content: "\e6e3";
}

.iconcuti:before {
  content: "\e6e4";
}

.iconchexiao:before {
  content: "\e6e5";
}

.iconshanchu:before {
  content: "\e6e8";
}

.iconshangchuantupian:before {
  content: "\e6e9";
}

.iconxiahuaxian:before {
  content: "\e6ec";
}

.iconwuxuliebiao:before {
  content: "\e6ed";
}

.iconxieti:before {
  content: "\e6ef";
}

.iconyouxuliebiao:before {
  content: "\e6f0";
}

.iconyulan:before {
  content: "\e6f1";
}

.iconzhongzuo:before {
  content: "\e6f3";
}

.iconyinyong:before {
  content: "\e6f4";
}

.iconeditor-strikethrough:before {
  content: "\e600";
}

.iconfengexian:before {
  content: "\ec7f";
}
